[xdebug]
zend_extension = /usr/local/lib/php/extensions/no-debug-non-zts-20200930/xdebug.so

; Xdebug 3.0
xdebug.mode=debug
xdebug.start_with_request=yes
;xdebug.discover_client_host=1
xdebug.client_port=${XDEBUG_CLIENT_PORT}
xdebug.client_host=${XDEBUG_CLIENT_HOST}

